* { all: unset; }

.dockapps {
    background-color: #000;
    border-radius: 0.5em;
    opacity: 0.8;
}

.dockmain {
    background-color: #000;
    border-radius: 0.5em;
    opacity: 0.8;
}

.dockdynamic {
    background-color: #000;
    border-radius: 0.5em;
    opacity: 0.8;
}

.dockstatus {
    background-color: #000;
    border-radius: 0.5em;
    opacity: 0.8;
}