* { all: unset; font-family: HarmonyOS Sans;}

.genericBox {
    background-color: #000;
    border-radius: 8px;
    opacity: 0.8;
}

.genericIcon {
    font-size: 30px;
}

.genericText {
    opacity: 1.0;
}

.dockmain {
    font-size: 30px;
}

.dockstatus {
    font-size: 20px;
}

.dynamic_time{
    font-size: 18px;
}
