// doebox/dock styling
// based on eww
// for licensing and info refer to avdandoe/doebox

$bgc: #000;
$fgc: #fff;
$accent: #4155CC;

// unset gtk design, set font
* { all: unset; font-family: HarmonyOS Sans; }

// generic dock window design
.boxGeneric {
    background-color: $bgc;
    border-radius: 8px;
    opacity: 0.8;
    color: $fgc;
}

.buttonBoxRollup{
    background-color: $fgc;
    border-radius: 8px;
    color: $bgc;
}

.appIconGeneric {
    font-size: 32px;
}

.iconSmallGeneric{
    font-size: 20px;
}

.iconGeneric{
    font-size: 24px;
}

.textNormalGeneric{
    font-size: 18px;
    font-weight: normal;
}

.textSubnormalGeneric{
    font-size: 16px;
    font-weight: normal;
}

scale trough{
    all: unset;
    background-color: #335555;
    border-radius: 12px;
    min-height: 20px;
    min-width: 10px;
    margin: .3rem 0 .3rem 0;
}

.testBar trough highlight{
    background-color: #fff;
    border-radius: 12px;
}

.roundedProfileImage{
    border-radius: 8px;
    background-image: url("../globalassets/profile.jpg");
    min-width: 50px;
    min-height: 50px;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    margin: 10px 10px 10px 10px;
}